* {
    background-color: bisque;
}

.welcome-header{
    font-family: Peddana, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    text-align: center;
    font-size: 3.93vw;
    position: absolute;
    top: 35%;
}

.Header-Image {
    max-width: 100%;
    height:auto;
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:50%;
}

nav{
    position:absolute;
    
}

